header {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  min-height: 120px;
  background-image: url(/img/Line\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__section::before {
  content: '';
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url(/img/lightning_right-top.png);
  background-repeat: no-repeat;
  top: 120px;
  left: 50px;
  transform: rotate(180deg);
  animation: lightining 1s linear infinite;
  opacity: 1;
}

.logo__container::before {
  content: '';
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  background-image: url(/img/lightning_right.png);
  top: 120px;
  left: 50px;
  transform: rotate(180deg);
  animation: lightining 1s linear infinite;
  opacity: 1;
}

@keyframes lightining {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav__list {
  z-index: 9999;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
}

.btn__level {
  display: block;
  line-height: 60px;
  width: 387.9px;
  height: 55.55px;
  left: 668.59px;
  top: 601px;
  margin-left: 50px;
  margin-bottom: 35px;

  background: linear-gradient(87.88deg, #161616 0.18%, #460000 103.26%);
  box-shadow: 0px 9.25781px 32.4023px rgba(0, 0, 0, 0.75);
  border-radius: 92.5781px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32.4023px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.7em;

  color: #929292;
}

.btn__vac {
  display: block;
  line-height: 60px;
  width: 478.63px;
  height: 55.55px;
  left: 623.22px;
  top: 691.73px;
  margin-bottom: 35px;

  background: linear-gradient(87.88deg, #161616 0.18%, #460000 103.26%);
  box-shadow: 0px 9.25781px 32.4023px rgba(0, 0, 0, 0.75);
  border-radius: 92.5781px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32.4023px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.7em;

  color: #929292;
}

.btn__try {
  display: block;
  line-height: 60px;
  width: 215.71px;
  height: 55.55px;
  left: 755.61px;
  top: 782.45px;
  margin-left: 130px;

  background: linear-gradient(87.88deg, #161616 0.18%, #460000 103.26%);
  box-shadow: 0px 9.25781px 32.4023px rgba(0, 0, 0, 0.75);
  border-radius: 92.5781px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32.4023px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.7em;

  color: #929292;
}

.btn__item--level {
  text-decoration: none;
  color: #929292;
}

.btn__item--level:hover {
  color: #6d0909;
  box-shadow: rgba(0, 0, 0, 0.75);
}

.cube__container {
  width: 100px;
}

.footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  min-height: 120px;
  margin-top: 150px;
  /* border-top: 1px solid red; */
  background-image: url(/img/Line\ 2.png);
  background-repeat: no-repeat;
  background-position: top;
}

.footer__title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.7em;
  padding-top: 29px;
  color: #6b6b6b;
}
